<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
{% for person in persons %}
    <h1>person full name: {{ person.full_name }}</h1>
    <h5>person id: {{ person.id }}</h5>
    {% for pet in person.pets.all %}
        <p>pet id: {{ pet.id }}</p>
        <p>pet name: {{ pet.name }}</p>
    {% endfor %}
{% endfor %}
{% for pet in pets %}
    <h1>pet name: {{ pet.name }}</h1>
    <h5>pet id: {{ pet.id }}</h5>
    <p>owner full name: {{ pet.owner.full_name }}</p>
    <p>owner id: {{ pet.owner.id }}</p>
{% endfor %}
</body>
</html>